.main {
  min-height: calc(100vh - 85px);
}

.title {
  max-width: 720px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 75px;
  line-height: 101.1%;
  letter-spacing: -0.035em;
  color: #212121;
  margin: 0;
}

.text_blue {
  color: #679AFD;
}

.subtitle {
  max-width: 690px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.005em;
  color: #212121;
  margin: 40px 0 50px;
}

@media screen and (max-width: 600px) {
  .main {
    min-height: calc(100vh - 80px);
  }

  .title {
    font-size: 40px;
    line-height: 40px;
    margin: 0;
  }
  .subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 20px 0 30px;
  }
}