.footer {
  background: #232323;
}

.footer__container {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
  padding: 40px 60px;
  text-align: center;
}

.footer__link {
  display: block;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  color: #f8f8f8;
  margin: 0;
  text-decoration: none;
}

.footer__copyright {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #bebebe;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
  }

  .footer__link {
    font-size: 15px;
    line-height: 15px;
    margin: 0 0 15px;
  }

  .footer__copyright {
    font-size: 15px;
    line-height: 15px;
  }
}
