.policy__list {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.035em;
  color: #000000;
  list-style: none;
  counter-reset: li;
  margin: 0;
  padding: 0;
}

.policy__list_down {
  margin: 10px 0;
}

.policy__item {
  font-weight: 400;
  margin: 5px 0;
}

.policy__item:before {
  counter-increment: li;
  content: counters(li, ".") ". ";
}

.policy__item_title {
  font-weight: 500;
  margin: 25px 0;
}

.policy__item_title:nth-child(1) {
  margin: 0 0 25px;
}

.policy__item_title:nth-child(8) {
  margin: 25px 0 0;
}

@media screen and (max-width: 600px) {
  .policy__list {
    font-size: 14px;
    line-height: 17px;
  }
}